name: Mirror Push
run-name: ${{ github.actor }}'s push
on:
  push:
    branches-ignore:
      - "ga-ignore-**"
  pull_request:
    branches-ignore:
      - "ga-ignore-**"

env:
  MIRROR_URL: git@github.com:EpitechPGE2-2025/G-OOP-400-BDX-4-1-tekspice-11.git
  MIRROR_REPO: EpitechPGE2-2025/G-OOP-400-BDX-4-1-tekspice-11
  EXECUTABLES: nanotekspice

jobs:
  check_repository:
    runs-on: ubuntu-latest
    outputs:
      same_repo: ${{ steps.repo.outputs.same_repo }}
    steps:
      - name: Check repository's name
        id: repo
        run: |
          if [[ "${{ github.repository }}" == "${{ env.MIRROR_REPO }}" ]]; then
            echo "same_repo=true" >> $GITHUB_OUTPUT
          else
            echo "same_repo=false" >> $GITHUB_OUTPUT
          fi

  check_program_compilation:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    container: epitechcontent/epitest-docker:latest
    needs: [check_repository]
    if: ${{ success() && needs.check_repository.outputs.same_repo == 'false' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          repository: ""

      - name: Compile Repo
        run: |
          if [ -f "CMakeLists.txt" ]; then
            mkdir build && cd build
            cmake ..
            make
          else
            make && make clean
          fi

      - name: Check Compilation
        run: |
          for binary in ${{ env.EXECUTABLES }}; do
            if [ ! -x "$binary" && ! -x "build/$binary" ]; then
              echo "::error::File $binary does not exist or is not executable"
              echo "check_compilation=false" >> $GITHUB_OUTPUT
              exit 1
            else
              echo "check_compilation=true" >> $GITHUB_OUTPUT
            fi
          done

  push_to_mirror:
    runs-on: ubuntu-latest
    needs: [check_program_compilation]
    if: ${{ github.event_name == 'push' && success() }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{env.MIRROR_URL}}
          ssh_private_key: ${{secrets.GIT_SSH_PRIVATE_KEY}}
